.TopBar {
    background-color: white;
    border-bottom: 1px solid #E8EBEE;
}
.TopBar--logo {
    background-color: #F1F4F7;
    flex-basis: 78px;
    text-align: center;
    padding-top: 7px;
    transition: all .2s;
}
.TopBar--logo svg {
    width: 30px;
}
.TopBar--logo:hover svg g path{
    fill: #05BF80;
}
.TopBar--logo:hover,
.TopBar--logo.active {
    background-color: #FFF;
}
.Search {
    flex: 1;
    padding: .75em;
    text-align: center;
}
.TopBar--avatar {
    color: white;
    background-color: #B0A4FD;
    font-size: 3rem;
    text-align: center;
    line-height: 1px;
    padding: 37px 0;
    flex-basis: 78px;
}

/* NEED TO CHANGE BOTH #2CA3B7 instances above to correct blue */