.TopBar {
    background-color: white;
    border-bottom: 1px solid #E8EBEE;
}
.TopBar--logo {
    background-color: #2CA3B7;
    background-image: url("./logo.svg");
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    flex-basis: 78px;
}
.Search {
    flex: 1;
    padding: .75em;
    text-align: center;
}
.TopBar--avatar {
    color: white;
    background-color: #2CA3B7;
    font-size: 3rem;
    text-align: center;
    line-height: 1px;
    padding: 37px 0;
    flex-basis: 78px;
}

/* NEED TO CHANGE BOTH #2CA3B7 instances above to correct blue */